// These should be here and in that order
@import"x-main/_vendors.scss";
@import "x-main/variables.scss";
@import "fonts/_fontfaces.scss";
// end


@import"_footer.scss";
@import"_navigation.scss";
@import"_wrappers.scss";
@import"elements/_a.scss";
@import"elements/_buttons.scss";
@import"elements/_form.scss";
@import"elements/_img.scss";
@import"elements/_misc.scss";
@import"helpers/_helpers.scss";
@import"helpers/_textstyles.scss";
@import"elements/_checkbox.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");


* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


.app-wrapper {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--main-font);
  font-size: var(--base-font-size);

  background-color: var(--grey-200);
}


// MY ADDED CSS CODE

header {
  background-color: #373b69;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}


.App input {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  color: #fff;
  border: 1px solid #fff;
}

.user p {
  margin: 10px;
  font-size: 15px;
  padding: 0 35px;
}

.user  {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
}

.modal-container.show-modal {
  display: block;
  background-color: #000;
  border-radius: 20px;
  box-shadow: 0,0,10px rgba(0,0,0,0.3);
  position: absolute;
  overflow: hidden;
  
  transform: translate(-50%, -50%);
  width: 900px;
  
  height: 600px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  
  
  
  }

  .topics {
    display: flex;
    flex-direction: column;
    width: 800px;
   
    align-items: center;
    justify-content: center;
  }

  .topics ul {
    display: flex;
    
  }

  .topics ul li{
   display: flex;
    list-style-type: none;
    padding: 0 50px;
    
  }

  .modal-container {
    display: flex;
  }

  .info {
    color: #000;
  }


